#Button-buy {
    border: none;
    align-self: flex-end;
    border-radius: 8px;
    background-color: #3069f4;
    color: #ffffff;
    width: 40%;
    height: 30px;
    font-size: 1vw;
}

#Button-buy:hover {
    opacity: 0.9;
}