@import "../Var.scss";

.Button {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #ffffff;
    background-color: #fefefe;
    position: relative;
}
.Button::after {
    border-radius: 5px;
    content: " ";
    position: absolute;
    display: block;
    background-color: grey;
    height: 6.5px;
    margin-top: -5px;
    top: 50%;
    left: 36px;
    right: 36px;
    z-index: 9;
  }
  .Button::before {
    border-radius: 5px;
    content: " ";
    position: absolute;
    display: block;
    background-color: grey;
    width: 6.5px;
    margin-left: -5px;
    left: 50%;
    top: 35px;
    bottom: 37px;
    z-index: 9;
  }