.form-teacher{
    
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #aeb7f2;
    background-color: #fefefe;
    width: 70%;
    margin: auto;
   margin-top: 5%;
    
}
.degree-and-picture{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 2%;
}

.form-teacher .first-name{
    margin-top: 4%;
}
.form-teacher input{
    border: none;
    border-bottom: solid 1px #aeb7f2;
    outline: none;
    width: 92%;
    font-size: 15px;
    margin:2%;
    background-color: #fefefe;
} 
.degree-and-picture .selector{
    font-size: 15px;
    border: solid 1px #aeb7f2;
    width: 25%;
}
.degree-and-picture .photo{
    font-size: 15px;
    width: 66%;
   height: 20px;
}
.form-teacher button{
    width: 150px;
    border: none;
    background-color: #3069f4;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 2%;
    color: white;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
}.degree-and-picture select{
    height: 30px;
}