@import "../Var.scss";
.Description {
    font-family: $theme-font;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    .ImageLeft {
        width: 200px;
        max-width: 100%;
        padding-left: 20px;
        .profilePicture {
            border-radius: 100vh;
            width: 200px;
            height: 200px;
            box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .DescriptionRight {
        max-width: 100%;
        display: block;
        margin-top: auto;
        margin-left: 2%;
        margin-bottom: auto;
        .SchoolName {
            font-size: $header-font;
        }
        .SchoolDescription {
            font-size: $standard-font;
            color: #5b5656;
        }
    }
    
}