@import '../Var.scss';

.block-input{
    display: flex;
    flex-direction: column;
    width: 92%;
    margin:2%;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #aeb7f2;
    background-color: #fefefe;
    align-items: center;
    padding: 1%;

}
.block-init{
    width: 95%;
    display: flex;
    flex-direction: row;   
}

.block-input input{
    width: 95%;
    border:none;   
    outline: none;
}
#Email, #to-name{
    border-bottom: solid 1px #aeb7f2;
    
    
}
#Email{
    margin-right: 2%;
}
.block-message{
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 18rem;
    margin:2%;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #aeb7f2;
    background-color: #fefefe;
}
.search-container{
    border: solid 2px #aeb7f2;
}
.block-message button{
    
    width: 50px;
    margin-right: 2%;
    height: 25px;
    border: none;
    border-radius: 10%;
    background-color: #3069f4;
    align-self: flex-end;
    color: white;
    font-family: $theme-font;
    cursor: pointer;
}

.block-message button:hover{
    opacity: 90%;

}
.block-message textarea , .text-response{
    height: 85%;
    border: none;
    width: 98%;
    align-self:center;
    outline: none;
    font-family: $theme-font;
    resize: none;
}

.text-response{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.confirmation{
    color: #3069f4;
}
.alert{
    color: red;
}


