@import '../Var.scss';

.block-input{
    display: flex;
    flex-direction: column;
    width: 92%;
    font-size: 30vh;
    margin:2%;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #aeb7f2;
    background-color: #fefefe;
    align-items: center;
    padding: 1%;

}
.block-init{
    width: 95%;
    display: flex;
    flex-direction: row;   
}

.block-input input{
    width: 95%;
    border:none;   
    outline: none;
    font-size: 1.5vh;
}
#Email, #to-name{
    border-bottom: solid 1px #aeb7f2;
    
    
}
#Email{
    margin-right: 2%;
}
.block-message{
    display: flex;
    flex-direction: column;
    width: 92%;
    font-size: 1.7vh;
    height: 18rem;
    margin:2%;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
    border: solid 2px #aeb7f2;
    background-color: #fefefe;
}
.email-contacs .search-container{
   
    border: solid 2px #aeb7f2;
    width: 97.5%;
    height: 40px;
}
.search-container input{
    font-size: 1.5vh;
    width: 100%;
}
.search-container form{
    font-family: $theme-font;
    width: 100%;
}
.mail{
    margin-top: 2%;
    width: 100%;
    height: 100%;
}
.mail .mail_container{

    width: 100%;
    height: 500px;
}
.email-contacs{
    width: 50%;
    padding-top: 1%;
}
.block-message button{
    
    width: 30%;
    margin-right: 2%;
    height: 25px;
    border: none;
    background-color: #3069f4;
    border-radius: 8px;
    align-self: flex-end;
    color: white;
    font-size: 1.5vh;
    font-family: $theme-font;
    cursor: pointer;
}

.block-message{
    height: 380px;
}

.block-message textarea , .text-response{
    height: 100%;
    border: none;
    width: 98%;
    align-self:center;
    outline: none;
    font-family: $theme-font;
    resize: none;
   
}

.text-response{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.confirmation{
    color: #3069f4;
}
.alert{
    color: red;
}

.mail {
    display: flex;
    justify-content: space-around;
}

.mail_container {
    flex-grow: 2;
}
