
@import '../Var.scss';

.HomePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#Logo-Bomberbot {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#Logo-Bomberbot img {
    height: auto;
    max-width: 25%;
}

#Welcome h3, h4 {
    margin: 1% 0;
}

#Welcome h3 {
    color: #0F1533;
    font-size: $header-font;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
    margin: 0;
    display: block;
}

#Welcome h4 {
    width: 100%;
    height: auto;
    font-size: $title-font;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f1533;
}
