.menu {
  float: left;
  width: 15%;
  height: 100%;
  box-shadow: 10px 10px 20px 0 #becbd8, -10px -10px 20px 0 #f3f9ff;
  background-color: #181e47;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  position: fixed;
}

.contact-us{
  height: 10%;
  margin: 2%;
  color: #fefefe;
  font-size: 1.5vw;
  box-sizing: border-box;
}

