
.Oval {
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
// margin: 10% auto;
box-shadow: 10px 10px 20px 0 #0f1533, -10px -10px 20px 0 #061145;
border: solid 1px #061145;
border-radius: 50%;
background-color: #181e47;
cursor: pointer;
}

.icons {
height: auto;
max-width: 60%;
}

.Oval:hover {
background-color: #27336d;
}
