.info {
margin: 5% auto;
padding: 0;
width: 100%;
height: 30%;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-content: flex-start;
}

#school-logo {
width: 90px;
height: 90px;
box-shadow: 10px 10px 20px 0 #0f1533, -10px -10px 20px 0 #061145;

border-radius: 50%;
}
#school-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#Name-School {
font-size: 2.0vw;
font-weight: 500;
width: 100%;
color: #fefefe;
margin: 2% auto;
}