.options {
width: 90%;
height: 60%;
border-top: solid 1px #fefefe;
border-bottom: solid 1px #fefefe;
justify-content: center;
flex-wrap: wrap;
align-content: flex-start;

}

.Oval {
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
width: 45%;
height:15%;
margin: 13% auto;
box-shadow: 10px 10px 20px 0 #0f1533, -10px -10px 20px 0 #061145;
border: solid 1px #061145;
border-radius: 50%;
background-color: #181e47;
cursor: pointer;
}

.icons {
height: auto;
max-width: 60%;
}

.Oval:hover {
background-color: #27336d;
}