
.Oval {
box-sizing: border-box;
width: 70%;
height: 15%;
display: flex;
// margin: 10% auto;
box-shadow: 10px 10px 20px 0 #0f1533, -10px -10px 20px 0 #061145;
border: solid 1px #061145;
border-radius: 5%;
background-color: #181e47;
cursor: pointer;
font-size: 14px;
color: #ffffff;
}

.Oval a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icons {
height: auto;
max-width: 20%;
margin: 5% 15px;
}

.Oval:hover {
background-color: #27336d;
}
