.options {
width: 90%;
height: 55%;
padding: 5% 0;
border-top: solid 1px #fefefe;
border-bottom: solid 1px #fefefe;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
box-sizing: border-box;
}
