@import '../Var.scss';


.search-container {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px #d6dee6;
}

.search-container input {
  font-family: $theme-font;
  width: 450px;
  margin: 6px auto 0 15px;
  border: none;
  outline: none;
}

.search-icon {
  background-image: url('../../images/search-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;  
  width: 20px;
  height: 30px;
  margin-right: 4px;
  cursor: pointer;
}