
@import "../Var.scss";

.teacherList {
  margin: 0;

  .Title {
    margin-bottom: 62px;;
  }
}

.teacherList > h3 {
  color: $color-menu;
}

.teacherList span {
  color: $color-menu;
}

.MuiTypography-body1 {
  font-size: 2rem!important;
}

