.titleSpace {
    margin-bottom: 5%;
}
.globalTable {
    width: 100%;
    border: solid 2px #aeb7f2;
    th {
        border: solid 2px #aeb7f2;
        font-size: 20px;
    }
    td {
        border: solid 2px #aeb7f2;
        font-size: 20px;
    }
}

.table1Space {
    margin-bottom: 5%;
}

.classesTable {
    width: 100%;
    border: solid 2px #aeb7f2;
    th {
        border: solid 2px #aeb7f2;
        font-size: 20px;
    }
    td {
        border: solid 2px #aeb7f2;
        font-size: 20px;
    }
}

.TeachersReport {
    display: flex;
    flex-direction: column;
}
.TeachersReport button {
    margin: 3% 0;
    align-self: center;
    width: 20%;
    height: 30px;
    border: none;
    background-color: #3069f4;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.TeachersReport button:hover {
    opacity: 0.9;
}