.titleSpace {
    margin-bottom: 5%;
}
.globalTable {
    width: 100%;
    border: 1px solid black;
    th {
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
}

.table1Space {
    margin-bottom: 5%;
}

.classesTable {
    width: 100%;
    border: 1px solid black;
    th {
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
}