@import "./Var.scss";


body {
    margin: 0;
    
}

#app {
height: 100vh;
font-family: $theme-font;
display: flex;
flex-direction: row;
}

.right-container {
    margin: 0;
    width: 85%;
    margin-left: 17%;
}

