@import "./Var.scss";
body {
    margin: 0;
    font-family: $theme-font;
}

#app > .parent-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.right-container {
    margin: 5% 0 0 4%;
    box-sizing: border-box;
}

.Logo-bomberbot {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Logo-bomberbot > img{
    width: auto;
    max-width: 10%;
}
